<form name="form1" action="/controllerUpdate" method="POST">
    <input type="hidden" name="id" id="id" placeholder="ID" value="{{id}}">
    <input type="text" name="name" id="name" placeholder="Nome" value="{{name}}"><br><br>
    <input type="text" name="age" id="age" placeholder="Age"  value="{{age}}"><br><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" placeholder="Save">
</form>